<nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/" style="padding: 8px 0px 5px 11px">
        <img alt="{{sitename}}" src="/img/Logo square inverse 50x50.png" style="height: 35px;padding: 5px"> 
      </a> 
      <a class="navbar-brand" href="/">{{sitename}}</a>
    </div>
    <!-- Expanded navigation -->
    <div class="navbar-collapse collapse in" aria-expanded="true">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- Main navigation -->
        <ul class="nav navbar-nav">
        <li>
            <a href="/demo" >Demo</a>
          </li> 
 
        </ul>
 
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
